<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../static/js/jquery-1.7.2.min.js"></script>
</head>
<body>
<h1>ajax提交</h1>

<form method="POST" enctype="multipart/form-data" name="upload_form">
    <input type="file" name="file" id="uploadFile"/><br/>
    <input type="button" value="Submit" id="submit"/>
</form>
<div id="imgDiv"></div>
<script type="text/javascript">
    $(function () {
        $("#submit").click(function () {
            var formdata = new FormData(document.forms.namedItem("upload_form"))
            $.ajax({
                type: "POST",
                url: "/upload",
                data: formdata,
                cache: false,
                contentType: false,    //不可缺
                processData: false,    //不可缺
                success: function (data) {
                    alert("上传成功");
                    $("#imgDiv").empty();
                    $("#imgDiv").html(data);
                    $("#imgDiv").show();
                }
            });
        })
    })

</script>
</body>
</html>
